body{
    margin: 0px;
    background-color: rgb(238, 238, 238);
    font-family: "Verdana", Times, serif;
}

header{
    font-size: 20px;
    font-family: "Verdana", Times, serif;
    height:110px;
    background-color: white;
}

#logo{
    display: inline;
    margin-top: 40px;
    vertical-align: bottom;
}

h1{
    display: inline;
    letter-spacing: -2px;
}

#firstcontainer{
    background-color: white;
    margin: auto;
    width: 60%;
    margin-top: 50px;
    padding: 20px;
}

#firstb{
    background-color: rgb(114, 163, 226);
    border-radius: 8px;
    width:fit-content;
    padding: 8px 15px;
    color:white;
    font-family: "Verdana", Times, serif;
    font-size:15px;
    display: inline;
}

#secondb{
    background-color: white;
    border-style: solid;
    border-color: rgb(168, 168, 168);
    border-radius: 8px;
    border-width: 1px;
    width:fit-content;
    padding: 7px 15px;
    color:rgb(168, 168, 168);
    font-family: "Verdana", Times, serif;
    font-size:15px;
    display:inline;
}

#secondcontainer{
    background-color: white;
    margin: auto;
    width: 60%;
    margin-top: 3px;
    padding: 20px;
    margin-bottom: 18px;
}

.list{

}

h2{
    letter-spacing: -1px;
    margin-bottom:10px;
    font-size: 18px;
}

.true{
    color:rgb(81, 199, 81);
    border-style: solid;
    border-color: rgb(81, 199, 81);
    border-width: 1px;
    border-radius: 50%;
    padding: 1px 3.5px;
    font-size: 12px;
}

.editorialclass{
    background-color: rgb(58, 140, 207);
    border-radius: 13px;
    width:fit-content;
    padding: 7px 15px;
    color:white;
    font-size:11px;
}

.false{
    color:rgb(238, 37, 37);
    border-style: solid;
    border-color: rgb(238, 37, 37);
    border-width: 1px;
    border-radius: 50%;
    padding: 1px 3.5px;
    font-size: 12px;
}

.q1goalsclass{
    background-color: rgb(170, 131, 233);
    border-radius: 13px;
    width:fit-content;
    padding: 7px 15px;
    color:white;
    font-size:11px;
}

.recruitingclass{
    background-color: rgb(67, 211, 156);
    border-radius: 13px;
    width:fit-content;
    padding: 7px 15px;
    color:white;
    font-size:11px;
}

.mobileclass{
    background-color: rgb(238, 169, 79);
    border-radius: 13px;
    width:fit-content;
    padding: 7px 15px;
    color:white;
    font-size:11px;
}

.websiteclass{
    background-color: rgb(240, 92, 153);
    border-radius: 13px;
    width:fit-content;
    padding: 7px 15px;
    color:white;
    font-size:11px;
}

.salesclass{
    background-color: rgb(160, 226, 106);
    border-radius: 13px;
    width:fit-content;
    padding: 7px 15px;
    color:white;
    font-size:11px;
}

.margin{
    margin-bottom: 15px;
}
